@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("Resources/poker-background.jpg");
    color: white;
    overflow-y: hidden;
}

#MainMenu {
    text-align: center;
    font-size: 1em;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    
    padding: 3%;
    background-color: rgba(1,1,1,0.3);
    border-radius: 5px;
    border: solid white 2px;
}


input {
    width: 100%;
    margin: 1%;
    padding: 3% 0%;
}

.MenuButton {
    width: 100%;
    margin: 2%;
    padding: 3%;
    color: white;
    background-color: rgba(0,0,0,0);
    border: solid white 2px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif
}
.MenuButton:focus {
    outline: 0;
}
.MenuButton:hover {
    width: 102%;
    -webkit-transform: translate(-1%, 0%);
    transform: translate(-1%, 0%);
}
.MenuButton:active {
    width: 100%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

/* Game Styling */
#Game {
    max-width: 100vw;
    /*position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;*/
}
#GameTable {
    width: 100%;
    /*background-image: url("Resources/pokertable.png");
    background-position: center;
    background-size: 1200px 600px;
    background-repeat: no-repeat;*/
    position: relative;
}
#LastAction {
    text-align: center;
    position: relative;
    
}
#GameButtons {
    width: 30%;
    height: 32px;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
}

.PlayerButtons {
    width: 32%;
    height: 100%;
    margin: 1px;
    color: white;
    background-color: rgba(0,0,0,0.3);
    border: solid white 2px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}
.PlayerButtons:focus {
    outline: 0;
}
.PlayerButtons:hover {
    transform: scale(1.05);
}
.PlayerButtons:active {
    transform: scale(0.95); 
}
.PlayerButtons.disabled {
    color: gray;
    border: solid gray 2px;
}
.PlayerButtons.disabled:focus {
    outline: 0;
    color: gray;
    border: solid gray 2px;
}
.PlayerButtons.disabled:hover {
    transform: scale(1);
    color: gray;
    border: solid gray 2px;
}
.PlayerButtons.disabled:active {
    transform: scale(1);
    color: gray;
    border: solid gray 2px; 
}

/* browse styling */
.rooms {
    text-align: center;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    
    background-color: rgba(1,1,1,0.3);
    border-radius: 5px;
    border: solid white 2px; 
}
.rooms > h1 { margin: 0; padding: 0; }
.rooms > div { border-radius: 5px; border: solid white 2px; min-width: 300px; margin: 8px; }
.rooms > div > ul { margin: 0; padding: 0; list-style:none; height: 300px; overflow-x: hidden; overflow-y: auto; }
.rooms > div > ul > li { border-bottom: solid white 1px; border-top: solid white 1px; padding: 2px 0; }
/*.rooms > div > ul > li:last-child { border: none; }*/
.rooms button, .rooms input { margin: 0; padding: 0; border: none; background: none; 
    color: white; font-family: 'Open Sans', sans-serif; 
    width: 100%; height: 100%; font-size: 1.4em; 
}
.rooms button:hover { transform: scale(1.05); }
.rooms button:active { transform: scale(0.95); }
.rooms button:focus, .rooms input:focus { outline: none; }
.rooms > .create > input { width: 60%; border-right: solid white 2px; }
.rooms > .create > button { width: calc(30% - 2px); }