@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("Resources/poker-background.jpg");
    color: white;
}

#MainMenu {
    text-align: center;
    font-size: 1em;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    
    padding: 3%;
    background-color: rgba(1,1,1,0.3);
    border-radius: 5px;
    border: solid white 2px;
}

#GameTable {
    width: 75%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
}

input {
    width: 100%;
    margin: 1%;
    padding: 3% 0%;
}

.MenuButton {
    width: 100%;
    margin: 2%;
    padding: 3%;
    color: white;
    background-color: rgba(0,0,0,0);
    border: solid white 2px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif
}
.MenuButton:focus {
    outline: 0;
}
.MenuButton:hover {
    width: 102%;
    -webkit-transform: translate(-1%, 0%);
    transform: translate(-1%, 0%);
}
.MenuButton:active {
    width: 100%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.GameButtons {
    width: 50%;
    
}
.PlayerButtons {
    width: 100%;
    margin: 5px;
    color: white;
    background-color: rgba(0,0,0,0);
    border: solid white 2px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}
.PlayerButtons:focus {
    outline: 0;
}
.PlayerButtons:hover {
    width: 102%;
    -webkit-transform: translate(-1%, 0%);
    transform: translate(-1%, 0%);
}
.PlayerButtons:active {
    width: 100%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}